<ion-view title="Add Entry" id="page6" class=" ">
    <ion-content padding="true" class="has-header" ng-controller="CameraCtrl">
        <p id="addEntry-markdown1" style="color:#000000;text-align:center;" class=" ">What I'm wearing today</p>

        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
            <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
        </div>

        <button ng-click="takePicture()" id="addEntry-button1" class=" button button-positive  button-block ">Add photo</button>

        <form id="addEntry-form" class="list " ng-submit="saveOutfit()">
            <label class="item item-input " id="addEntry-input1" for="description" name="description">
                <span class="input-label">Outfit description</span>
                <input type="text" id="description" ng-model="outfit.description">
            </label>
            <label class="item item-input " id="addEntry-input2" for="date" name="date">
                <span class="input-label">Date</span>
                <input type="date" id="date" ng-model="outfit.date">
            </label>
            <button type="submit" id="addEntry-button2" class=" button button-positive  button-block ">Save</button>
        </form>
    </ion-content>
</ion-view>
