<ion-view title="Add Entry" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="addEntry-markdown1" style="color:#000000;text-align:center;" class=" ">What I'm wearing today</p>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="addEntry-button12" class=" button button-positive  button-block ">Add photo</button>
        <form id="addEntry-form8" class="list ">
            <label class="item item-input " id="addEntry-input7">
                <span class="input-label">Outfit description</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="addEntry-input8">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <button id="addEntry-button11" class=" button button-positive  button-block ">Save</button>
        </form>
    </ion-content>
</ion-view>