<ion-view title="Calendar" id="page9">
    <ion-content padding="true" class="has-header">
      <!-- <ion-list> -->
        <!-- <ion-item> -->

            <!-- <ul class="list"> -->
              <!-- <li class="item"> -->

        <div ng-repeat="outfit in outfits | orderBy:'date' track by outfit._id">
          <div class="list">
            <div class="item item-button-right item-thumbnail-left" href="#">
              <img ng-src="http://placehold.it/300x300">
                <h3><strong>Date: {{outfit.date | date:'longDate'}}</strong></h3>
                <p><strong>Description</strong> {{outfit.description}}</p>
                <!-- <div>Image: {{outfit.image}}</div> -->
                <button ng-click="deleteOutfit(outfit._id, $index)" class="button button-assertive button-small">Delete</button>
                <!-- <a ng-href="/outfits/{{outfit._id}}">View outfit</a> -->
                </div>
            </div>
          </div>
          <a ng-href="#/welcome">Back to welcome page</a>
               <!--  </li>
              </ul> -->

        <!-- <ion-item> -->
      <!-- <ion-list> -->
    </ion-content>
</ion-view>
