<ion-view title="Edit Entry" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="editEntry-markdown2" style="color:#000000;text-align:center;" class=" ">What I'm wearing today</p>
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button id="editEntry-button13" class=" button button-positive  button-block ">Update photo</button>
        <form id="editEntry-form9" class="list ">
            <label class="item item-input " id="editEntry-input9">
                <span class="input-label">Outfit description</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="editEntry-input10">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
            <button id="editEntry-button14" class=" button button-positive  button-block ">Save</button>
        </form>
    </ion-content>
</ion-view>