<ion-view title="Signup" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list " ng-submit="userSignup()">
            <ion-list id="signup-list">
<!--                 <label class="item item-input " id="signup-input4" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label> -->
<!--                 <label class="item item-input " id="signup-input3" name="firstname">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label> -->
                <label class="item item-input " for="email" name="email">
                    <span class="input-label">Email</span>
                    <input type="email" id="email" ng-model="user.email">
                </label>
                <label class="item item-input " for="password" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" id="password" ng-model="user.password">
                </label>
            </ion-list>
            <button id="signup-button" class=" button button-stable  button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>
