<!-- <ion-view title="View Entry" id="page10" class=" ">
  <ion-nav-buttons side="secondary">
  <button class="button button-clear button-positive"><a ng-href="#/calendar/{{outfit._id}}/editentry">Edit</a></button>
  </ion-nav-buttons>
<ion-view title="View Entry" id="page10">
  <div class="bar bar-header">
  <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">Header Buttons</div>
  <button class="button button-clear button-positive">Edit</button> -->

<ion-nav-view name="ViewEntry-index-edit"></ion-nav-view>
<ion-view title="View Entry" id="page10">
    <ion-nav-back-button side="primary">Back</ion-nav-back-button>
    <!-- <ion-nav-buttons side="secondary">
  <button class="button button-clear button-positive"><a href="#/editentry">Edit</a></button>
  </ion-nav-buttons> -->
  <ion-nav-buttons side="secondary">
      <button class="button button-clear button-positive" ng-click="editOutfit()">Edit</button>
    </ion-nav-buttons>

</div>
    <ion-content padding="true" class="has-header">
        <h1 id="viewEntry-heading3" style="color:#000000;" class=" ">What I wore</h1>
        <p id="viewEntry-markdown3" style="color:#000000;" class=" ">{{outfit.date | date:'longDate'}}</p>
        <img ng-src="{{outfit.image}}">
        <p id="viewEntry-markdown4" style="color:#000000;" class=" ">{{outfit.description}}</p>
        <a ng-href="#/calendar/{{outfit._id}}/editentry">Edit</a>
    </ion-content>
<!-- <ion-view>
<ion-content>
<h1>I'm cool</h1>
</ion-content>
</ion-view> -->


</ion-view>

