<ion-view title="Welcome" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <button href="#/calendar" id="welcome-button9" class=" button button-positive  button-block " ng-click="checkIfLoggedIn()">What I wore</button>
        <button href="#/addentry" id="welcome-button10" class=" button button-balanced  button-block " ng-click="checkIfLoggedIn()">What I'm wearing</button>
        <!-- referencing the 'Auth' factory -->
        <a href="#/welcome" ng-click="logout()" ng-show="Auth.isLoggedIn()" id="logout" class=" button button-positive  button-block button-clear ">Logout</a>
    </ion-content>
</ion-view>
